includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 8
    parallel:
        processTimeout: 300.0
        maximumNumberOfProcesses: 8
        jobSize: 20