@import "bootstrap/scss/functions";

$primary: #D3493F;
$dark: #142037;
$body-bg: #f5f5f5;
$min-contrast-ratio: 3;
$font-family-sans-serif: 'Cairo', system-ui, -apple-system, 'Segoe UI', sans-serif;
$primary-bg-subtle: #fce7e5;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons.scss";

[x-cloak] {
    display: none !important;
}
